<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Salut <%= @event.user.first_name %>, nous confirmons ta création d'évènement !</h1>
    <p>
      Tu as créé un event sur assholevent.fr en utilisant l'e-mail suivant : <%= @event.user.email %>.
    </p>
    <p>
      Pour accéder à ton espace client, connecte-toi via : <%= @url %>.
    </p>
    <p> À très vite sur assholevent.fr !
  </body>
</html>